extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, incidunt sequi totam dolorem culpa quibusdam possimus rerum et voluptates voluptatibus at similique unde, nemo animi quas ab atque? Assumenda, corporis?
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, adipisci fugit facere voluptate odio, quisquam at libero quam, minus voluptas laboriosam! Dolores quisquam enim exercitationem officia possimus autem? Repellendus, dolor!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nam sint? Nemo vitae a fuga accusamus inventore animi, veritatis deleniti quasi laboriosam eius perferendis quia temporibus odio porro architecto? Saepe?
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatibus accusamus mollitia modi provident beatae quo, ex expedita nam. Harum rem commodi autem facere ullam recusandae eum nisi nam suscipit.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatibus accusamus mollitia modi provident beatae quo, ex expedita nam. Harum rem commodi autem facere ullam recusandae eum nisi nam suscipit.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatibus accusamus mollitia modi provident beatae quo, ex expedita nam. Harum rem commodi autem facere ullam recusandae eum nisi nam suscipit.                    